# 1. Секреты и конфиги (чтобы не слить токены)
.env
config_local.py

# 2. База данных (КРИТИЧНО! Чтобы git pull не затирал данные игроков на сервере)
*.db
*.sqlite3
*.sqlite
vigarik.db

# 3. Виртуальное окружение Python
venv/
.venv/
env/

# 4. Временные файлы Python и кэш
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# 5. Папки IDE (PyCharm, VS Code)
.idea/
.vscode/

# 6. Логи бота
*.log
logs/
